---
import { toolkit } from "../../data/about";
import ToolkitInteractive from "./ToolkitInteractive.svelte";
---

<div class="pt-8 border-t border-white/10">
  <h2 class="text-2xl font-bold text-white mb-8">My Toolkit</h2>

  <ToolkitInteractive client:visible toolkit={toolkit} />
</div>
