---
/**
 * @license
 * Copyright (c) 2022 Jozef Steinhübl
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>.
 */

import { Image } from "astro:assets";
import me from "../assets/me.png";
---

<div class="fixed top-6 left-6 z-50 hidden md:block">
  <a
    href="/"
    aria-label="Home"
    class="block rounded-full shadow-2xl shadow-black/50 transition-all duration-300 hover:scale-105 ring-1 ring-white/20 hover:ring-amber-400/50 overflow-hidden"
  >
    <Image src={me} alt="Jozef" class="w-12 h-12 object-cover" />
  </a>
</div>
