---
import "../styles/global.css";

import Navbar from "../components/Navbar.astro";
import SocialBar from "../components/SocialBar.astro";
import ProfileBadge from "../components/ProfileBadge.astro";
---

<!doctype html>
<html class="scroll-smooth" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Jozef Steinhübl</title>
  </head>
  <body
    class="bg-neutral-950 text-white antialiased selection:bg-amber-400/30 selection:text-amber-100"
  >
    <ProfileBadge />
    <Navbar />
    <SocialBar />

    <slot />
  </body>
</html>
